.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    width: 500px;
    padding: 1em;
}

.card img{
    height:200px;
}